<nav class="navbar">
  <div class="navbar-left">
    <div class="logo">
      <i class="bi bi-calculator-fill"></i>
      <span class="logo-text">DSSERP</span>
    </div>
    <div class="navbar-search">
      <i class="bi bi-search"></i>
      <input type="text" placeholder="Search..." />
    </div>
  </div>

  <div class="navbar-right">
    <div class="navbar-menu">
      <ul>
        <li *ngFor="let item of navItems" class="nav-item">
          <a (click)="toggleDropdown(item.id)">
            <i [class]="'bi ' + item.icon"></i>
            {{ item.label }}
            <i class="bi bi-chevron-down" *ngIf="item.dropdown"></i>
          </a>
          
          <ul class="dropdown-menu" *ngIf="item.dropdown && activeDropdown === item.id">
            <li *ngFor="let subItem of item.dropdown">
              <a [routerLink]="subItem.route" (click)="activeDropdown = null">
                <i [class]="'bi ' + subItem.icon"></i>
                {{ subItem.label }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="btn-logout" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
    </button>
  </div>
</nav>